bss-brm/brmapp/portal/7.5/deploy/web_services/wsdls/BRMBillServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BILL" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
            <include schemaLocation="PCM_OP_BILL_GROUP_MOVE_MEMBER.xsd"/>
            <include schemaLocation="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT.xsd"/>
            <include schemaLocation="PCM_OP_BILL_MAKE_BILL_NOW.xsd"/>
            <include schemaLocation="PCM_OP_BILL_GROUP_GET_PARENT.xsd"/>
            <include schemaLocation="PCM_OP_BILL_DEBIT.xsd"/>
        </schema>
    </types>
    <message name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_BILL_GROUP_MOVE_MEMBER_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg">
        <part name="PCM_OP_BILL_GROUP_MOVE_MEMBER_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg">
        <part name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_BILL_NOW_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_BILL_MAKE_BILL_NOW_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_BILL_NOW_outmsg">
        <part name="PCM_OP_BILL_MAKE_BILL_NOW_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_GET_PARENT_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_BILL_GROUP_GET_PARENT_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_GET_PARENT_outmsg">
        <part name="PCM_OP_BILL_GROUP_GET_PARENT_response" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_DEBIT_inmsg">
        <part name="flags" type="xsd:int"/>
        <part name="PCM_OP_BILL_DEBIT_request" type="xsd:string"/>
    </message>
    <message name="PCM_OP_BILL_DEBIT_outmsg">
        <part name="PCM_OP_BILL_DEBIT_response" type="xsd:string"/>
    </message>
    <portType name="BRMBILLService_ptt">
        <operation name="PcmOpBillGroupMoveMember">
            <input message="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg"/>
            <output message="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg"/>
        </operation>
        <operation name="PcmOpBillGetItemEventChargeDiscount">
            <input message="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg"/>
            <output message="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg"/>
        </operation>
        <operation name="PcmOpBillMakeBillNow">
            <input message="brm:PCM_OP_BILL_MAKE_BILL_NOW_inmsg" name="PCM_OP_BILL_MAKE_BILL_NOW_inmsg"/>
            <output message="brm:PCM_OP_BILL_MAKE_BILL_NOW_outmsg" name="PCM_OP_BILL_MAKE_BILL_NOW_outmsg"/>
        </operation>
        <operation name="PcmOpBillGroupGetParent">
            <input message="brm:PCM_OP_BILL_GROUP_GET_PARENT_inmsg" name="PCM_OP_BILL_GROUP_GET_PARENT_inmsg"/>
            <output message="brm:PCM_OP_BILL_GROUP_GET_PARENT_outmsg" name="PCM_OP_BILL_GROUP_GET_PARENT_outmsg"/>
        </operation>
        <operation name="PcmOpBillDebit">
            <input message="brm:PCM_OP_BILL_DEBIT_inmsg" name="PCM_OP_BILL_DEBIT_inmsg"/>
            <output message="brm:PCM_OP_BILL_DEBIT_outmsg" name="PCM_OP_BILL_DEBIT_outmsg"/>
        </operation>
    </portType>
    <binding name="BRMBILLService_binding" type="brm:BRMBILLService_ptt">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PcmOpBillGroupMoveMember">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpBillGetItemEventChargeDiscount">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpBillMakeBillNow">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_BILL_MAKE_BILL_NOW_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_BILL_MAKE_BILL_NOW_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpBillGroupGetParent">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_BILL_GROUP_GET_PARENT_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_BILL_GROUP_GET_PARENT_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
        <operation name="PcmOpBillDebit">
            <soap:operation SoapAction=""/>
            <input name="PCM_OP_BILL_DEBIT_inmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </input>
            <output name="PCM_OP_BILL_DEBIT_outmsg">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="BRMBILLService">
        <port binding="brm:BRMBILLService_binding" name="BRMBILLService_pt">
            <soap:address location="http://localhost:8080/brm/BRMWSBILLServices"/>
        </port>
    </service>
    <plt:partnerLinkType name="BRMService_plt">
        <plt:role name="BRMService_role">
            <plt:portType name="brm:BRMBILLService_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
</definitions>
