bss-brm/brmapp/portal/7.5/TD/apps/td_brm_integrations/schemas/profile.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:op="http://www.portal.com/schemas/BusinessOpcodes"
            xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
            targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
            elementFormDefault="qualified">
<xsd:complexType name="profileExtensionType">
	<xsd:sequence>
		<xsd:element name="ACCOUNT_OBJ" minOccurs="0" maxOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CREATED_T" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="EFFECTIVE_T" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="MOD_T" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="OBJECT_CACHE_TYPE" type="xsd:int" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="POID" minOccurs="0" maxOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="READ_ACCESS" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="SERVICE_OBJ" minOccurs="0" maxOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
					<xsd:pattern value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="WRITE_ACCESS" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		<xsd:element ref="profileExtension" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:element name="profileExtension" type="profileExtensionType" abstract="true"/>
<xsd:element name="profile_acct_extratingExtension" substitutionGroup="profileExtension" type="profile_acct_extratingExtensionType"/>
<xsd:complexType name="profile_acct_extratingExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="DATA_ARRAY" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="VALID_FROM" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="VALID_TO" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="VALUE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute type="xsd:string" name="elem"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_customer_careExtension" substitutionGroup="profileExtension" type="profile_customer_careExtensionType"/>
<xsd:complexType name="profile_customer_careExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="CUSTOMER_CARE_INFO" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CUSTOMER_TYPE" type="xsd:int" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_event_orderingExtension" substitutionGroup="profileExtension" type="profile_event_orderingExtensionType"/>
<xsd:complexType name="profile_event_orderingExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="OOD_CRITERIA" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
										<xsd:pattern value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="BILL_CYCLE_T" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="CRITERIA_NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="LAST_EVENT_PROCESS_T" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute type="xsd:string" name="elem"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_ldapExtension" substitutionGroup="profileExtension" type="profile_ldapExtensionType"/>
<xsd:complexType name="profile_ldapExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="LDAP_INFO" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DN" type="xsd:string" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_mostcalledExtension" substitutionGroup="profileExtension" type="profile_mostcalledExtensionType"/>
<xsd:complexType name="profile_mostcalledExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="MOST_CALLED_INFO" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="COUNT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="CRITERION" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="EVENT_TYPE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="IMPACT_CATEGORY" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
										<xsd:pattern value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_rollover_transferExtension" substitutionGroup="profileExtension" type="profile_rollover_transferExtensionType"/>
<xsd:complexType name="profile_rollover_transferExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="RESOURCE_INFO" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
										<xsd:pattern value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RECIPIENTS" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
													<xsd:pattern value=""/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SERVICE_OBJ" minOccurs="0" maxOccurs="1">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
													<xsd:pattern value=""/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="VALID_FROM" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
										<xsd:element name="VALID_TO" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
									</xsd:sequence>
									<xsd:attribute type="xsd:string" name="elem"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute type="xsd:string" name="elem"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_serv_extratingExtension" substitutionGroup="profileExtension" type="profile_serv_extratingExtensionType"/>
<xsd:complexType name="profile_serv_extratingExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="DATA_ARRAY" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="VALID_FROM" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="VALID_TO" type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="VALUE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute type="xsd:string" name="elem"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="EXTRATING" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LABEL" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="REFERENCE_COUNT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="STATUS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_writeoffExtension" substitutionGroup="profileExtension" type="profile_writeoffExtensionType"/>
<xsd:complexType name="profile_writeoffExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="WRITEOFF_INFO" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="ITEM_OBJ" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="([0-9]*.)+[0-9]*(\s)+((/)*([a-zA-Z_]*))*(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
										<xsd:pattern value=""/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute type="xsd:string" name="elem"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:element name="profile_serv_infoExtension" substitutionGroup="profileExtension" type="profile_serv_infoExtensionType"/>
<xsd:complexType name="profile_serv_infoExtensionType">
	<xsd:complexContent>
		<xsd:extension base="profileExtensionType">
			<xsd:sequence>
				<xsd:element name="SERVICE_INFO" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SALUTATION" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="FIRST_NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="LAST_NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="REFERENCE_ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="NAME" type="xsd:string" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
